<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sow_Slider::slider" title="Slider" module="Sow_Slider" sortOrder="14" resource="Sow_Slider::slider_manage"/>
        <add id="Sow_Slideshow::sliders_manage" title="Manage Sliders" module="Sow_slider" sortOrder="10" parent="Sow_Slider::slider" action="slider/banner/index" resource="Sow_Slider::slider_manage"/>
    </menu>
</config>
