<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SoW_Brand::brand_section" title="Brand" module="SoW_Brand" sortOrder="20" parent="SoW_Base::base" resource="SoW_Brand::brand_section"/>
        <add id="SoW_Brand::manufacturers_manage" title="Manage Manufacturers" module="SoW_Brand" sortOrder="10" parent="SoW_Brand::brand_section" action="brand/manufacturer/index" resource="SoW_Brand::manufacturers_manage"/>
    </menu>
</config>