#megamenu{
  > ul{
    > li{
      display: inline-block;
      > a{
        padding: 0 10px;
      }
    }
  }
}
.menu-item-relative{
  position: relative;
}
.from-left{
  > .submenu{
    left: 0;
  }
}
.submenu{
  position: absolute;
}